@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body style="background-image: url('https://media.istockphoto.com/photos/stack-of-hands-unity-and-teamwork-concept-picture-id1174511028?b=1&k=20&m=1174511028&s=170667a&w=0&h=E95ckFnRAct0MUvyHYnhE0Ke42ZP5gywX10lP7NzymM='); background-color: #cccccc; height: 500px; background-position: center; background-repeat: no-repeat; background-size: cover; ">
    
    <div class="row" style="padding:20px 250px 20px 250px">
        <div class="col-md-12">
            <h1 >@ViewData["Title"]</h1>
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group col-md-8">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group col-md-12">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

    </div>
    
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
